---
name: CI

# This is the default event from the go-project-template
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: ./go.mod

      - name: Install dependencies
        run: |
          go mod download
          go mod verify

      - name: Check imports
        run: make check-imports

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: v2.1

      - name: Run tests
        run: go test -race -cover -v ./...

      - name: Run benchmarks
        run: go test -bench=. ./...
