---
name: CI

# This is the default event from the go-project-template
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: ./go.mod

      - name: Install dependencies
        run: |
          go mod download
          go mod verify

      - name: Check imports
        run: make check-imports

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
        with:
          version: v2.1

      - name: Run tests
        run: go test -race -cover -v ./...

      - name: Run benchmarks
        run: go test -bench=. ./...
